<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="HeatFilesFolder">
            <Component Id="cmpF3743F4CB632E7C4A71CA4C5D9FEC4DD" Guid="*">
                <File Id="fil10BDFB3A322D21519C56FAEFF73F373A" KeyPath="yes" Source="$(var.HarvestPath)\CppProject.exe" />
            </Component>
            <Component Id="cmp217C32385908E599814784D989527E9C" Guid="*">
                <File Id="filADE735175CC114D69A1DBD5A99C9AE4F" KeyPath="yes" Source="$(var.HarvestPath)\CppProject.ilk" />
            </Component>
            <Component Id="cmpD81025C3F3B37579E947700C7D64086F" Guid="*">
                <File Id="fil2416790B3D3C883CC9FF0C04029F3A5B" KeyPath="yes" Source="$(var.HarvestPath)\CppProject.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmpF3743F4CB632E7C4A71CA4C5D9FEC4DD" />
            <ComponentRef Id="cmp217C32385908E599814784D989527E9C" />
            <ComponentRef Id="cmpD81025C3F3B37579E947700C7D64086F" />
        </ComponentGroup>
    </Fragment>
</Wix>